html,body{
  margin: 0px;
  font-family: ‘Rokkitt’;
}
.be-red{

  background-color: cornflowerblue;
}
.white{
  color: white;

}
.no-list{
  list-style:none;
  margin:0;
  padding:0;
}
.large-padding{
  padding: 15px 2px;
}
a,a:visited{
    //ggrgrg
  text-decoration: none;
}

.field{
  margin-top:1em;
}

.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
.red{
  color: red;
}
.edit {
  color: green;
}